.stack-work/
.bin/

/lojban/thsrs/Triv.hs
/lojban/xiragan/Some.hs
/template_haskell/bitmap/out.bmp
dist/
/tools/slide/yjslide/*.svg
/tools/slide/yjslide/svgs/
tmp/
*.prof
/tools/slide/yjslide/examples/unboxed/old/unboxed
/tools/slide/yjslide/examples/unboxed/old/small
/tools/slide/yjslide/examples/unboxed/new/boxedPi
/tools/slide/yjslide/examples/unboxed/new/unboxedPi
/tools/slide/yjslide/examples/unboxed/new/boxedPi_O
*.simpl
*.hi
*.s
*.o
*.so
a.out
*.sqlite3
/tools/rirekisho/rirekisho.dat
/tools/slide/yjslide/examples/profiling/old/some
/tools/slide/yjslide/examples/profiling/new/profiling
/tools/slide/yjslide/examples/profiling/new/prog
/tools/slide/yjslide/examples/profiling/new/fib2
/tools/slide/yjslide/examples/profiling/new/sum
/tools/slide/yjslide/examples/profiling/new/sum_strict
/tools/slide/yjslide/examples/profiling/new/notStrictData
/tools/slide/yjslide/examples/profiling/new/strictData
/tools/slide/yjslide/examples/profiling/new/concat
/tools/slide/yjslide/examples/profiling/new/listDict
/tools/slide/yjslide/examples/profiling/new/mapDict
/tools/slide/yjslide/examples/profiling/new/hashDict
/tools/slide/yjslide/examples/profiling/new/mapDict2
/tools/slide/yjslide/examples/profiling/new/hashDict2
/tools/slide/yjslide/examples/profiling/new/useString
/tools/slide/yjslide/examples/profiling/new/useString2
/tools/slide/yjslide/examples/profiling/new/useByteString
/tools/slide/yjslide/examples/profiling/new/useByteStringLazy
/tools/slide/yjslide/examples/profiling/new/lookOnce
/tools/slide/yjslide/examples/profiling/new/lookTwice
/tools/slide/yjslide/examples/profiling/new/randomAccess
/tools/slide/yjslide/examples/profiling/new/sequentialAccess
/tools/slide/yjslide/examples/profiling/new/randomAccessS
/tools/slide/yjslide/examples/profiling/new/randomAccessB
/tools/slide/yjslide/examples/profiling/new/randomAccessB2
/tools/slide/yjslide/examples/profiling/new/randomAccessB3
/tools/slide/yjslide/examples/profiling/new/randomAccessL
/tools/slide/yjslide/examples/profiling/new/randomAccessL2
/tools/slide/yjslide/examples/profiling/new/randomAccessList
/tools/slide/yjslide/examples/profiling/new/randomAccessArray
/tools/slide/yjslide/examples/profiling/new/big.txt
/tools/slide/yjslide/examples/profiling/new/moreBig.txt
/tools/slide/yjslide/examples/profiling/new/moreBig2.txt
/tools/slide/yjslide/examples/profiling/new/ratio.txt
/tools/slide/yjslide/examples/profiling/new/show_page.txt
/tools/slide/yjslide/examples/profiling/new/show_turtle.txt
/tools/slide/yjslide/examples/profiling/primes/eratosthenes
/tools/slide/yjslide/examples/profiling/primes/eratosthenesU
/tools/slide/yjslide/examples/profiling/primes/pseudoEratosthenes
/tools/slide/yjslide/examples/pack/notUsePack
/tools/slide/yjslide/examples/pack/usePack
/tools/slide/yjslide/examples/pack/10kFile.txt
/tools/slide/yjslide/examples/pack/100kFile.txt
/tools/slide/yjslide/examples/pack/1MFile.txt
/tools/slide/yjslide/examples/pair/lookupTuple
/tools/slide/yjslide/examples/pair/lookupWPair
/tools/slide/yjslide/examples/pair/lookupWord64
/tools/slide/yjslide/examples/pair2/lookupTuple
/tools/slide/yjslide/examples/pair2/lookupWord
/tools/slide/yjslide/examples/ffi/HaskellInC/usePi
/tools/slide/yjslide/examples/ffi/HaskellInC/manual/useFoo
/tools/slide/yjslide/examples/ffi/CInHaskell/hsc/some.hs
/tools/slide/yjslide/examples/ffi/CInHaskell/hsc/cabal/some
/tools/slide/yjslide/examples/ffi/CInHaskell/hsc/cabal/some.hs
/tools/slide/yjslide/examples/ffi/CInHaskell/useAdd3
/tools/slide/yjslide/examples/ffi/CInHaskell/useSayHello
/tools/slide/yjslide/examples/ffi/CInHaskell/useSayHelloTo
/tools/slide/yjslide/examples/ffi/CInHaskell/hsc/structure.hs
/tools/slide/yjslide/examples/ffi/CInHaskell/useInC/cUseName
/tools/slide/yjslide/examples/ffi/CInHaskell/useInC/useForeignPtr
/tools/slide/yjslide/examples/ffi/CInHaskell/useInC/useName
/tools/slide/yjslide/examples/ffi/CInHaskell/simpleValue/counter/useCounter
/tools/slide/yjslide/examples/ffi/CInHaskell/simpleValue/message/useMessage
/tools/slide/yjslide/examples/ffi/CInHaskell/array/names1/useNames
/tools/slide/yjslide/examples/ffi/CInHaskell/array/names1/useNames2
/tools/slide/yjslide/examples/ffi/CInHaskell/array/temp1/useTemp
/tools/slide/yjslide/examples/ffi/CInHaskell/array/graph/useGraph
/tools/slide/yjslide/examples/ffi/CInHaskell/structure/human/useHuman
/tools/slide/yjslide/examples/ffi/CInHaskell/structure/trump/useTrump
/tools/slide/yjslide/examples/ffi/CInHaskell/storable/useStorable
/tools/slide/yjslide/examples/ffi/CInHaskell/wrapper/apply_123/useApply123
/tools/slide/yjslide/examples/ffi/CInHaskell/wrapper/three_times/useThreeTimes
/tools/slide/yjslide/examples/ffi/CInHaskell/wrapper/gtk/useGtk
/tools/slide/yjslide/examples/ffi/CInHaskell/wrapper/gtk/hierarchy/hierarchy
/tools/slide/yjslide/examples/ffi/CInHaskell/wrapper/gtk/hierarchy/moreSimple
/tools/slide/yjslide/examples/ffi/CInHaskell/wrapper/gtk/class/GtkWindow.hs
/tools/slide/yjslide/examples/ffi/CInHaskell/wrapper/gtk/class/hello
/tools/slide/yjslide/examples/ffi/CInHaskell/wrapper/gtk/class/cflags.txt
/tools/slide/yjslide/examples/ffi/CInHaskell/wrapper/gtk/class/gtk-flags.txt
/tools/slide/yjslide/examples/ffi/CInHaskell/wrapper/gtk/normal/useGtk
/tools/slide/yjslide/examples/ffi/CInHaskell/hsc/other.hs
/tools/slide/yjslide/examples/ffi/CInHaskell/hsc/struct/structure
/tools/slide/yjslide/examples/ffi/CInHaskell/hsc/struct/structure.hs
/tools/slide/yjslide/examples/ffi/CInHaskell/hsc/struct/weightHeight
/tools/slide/yjslide/examples/ffi/CInHaskell/hsc/struct/weightHeight.hs
/tools/slide/yjslide/examples/ffi/stablePtr/eight/test
/tools/slide/yjslide/examples/ffi/stablePtr/inC/useHoge
/tools/slide/yjslide/examples/hierarchy/template/life/gtk/testGtk
/tools/slide/yjslide/examples/hierarchy/template/life/gtk/tests
/tools/slide/yjslide/examples/hierarchy/template/life/gtk/testDrawingArea
/tools/slide/yjslide/examples/hierarchy/template/life/gtk/GtkStyle.hs
/tools/slide/yjslide/examples/hierarchy/template/life/gtk/GtkWidget.hs
/tools/slide/yjslide/examples/hierarchy/template/life/gtk/cflags.txt
/tools/slide/yjslide/examples/hierarchy/template/life/gtk2/GObject.hs
/tools/slide/yjslide/examples/hierarchy/template/life/gtk2/GdkEvent.hs
/tools/slide/yjslide/examples/hierarchy/template/life/gtk2/GtkStyle.hs
/tools/slide/yjslide/examples/hierarchy/template/life/gtk2/moveBlock
/tools/slide/yjslide/examples/hierarchy/template/life/gtk2/testCairo
/tools/slide/yjslide/examples/hierarchy/template/life/gtk2/testDrawingArea
/tools/slide/yjslide/examples/hierarchy/template/life/gtk2/tetris
/tools/slide/yjslide/examples/hierarchy/template/life/gtk2/hello
/tools/slide/yjslide/examples/hierarchy/template/life/gtk2/free
/tools/slide/yjslide/examples/cabal/only_cabal/simple/setup
/tools/slide/yjslide/examples/cabal/only_cabal/library/setup
/tools/slide/yjslide/examples/cabal/cabal_init/
/tools/slide/yjslide/examples/cabal/sample/setup
*_hsc.c
*_hsc.h
*_stub.h
*.aux
*.hp
*.pdf
*.ps
.*.swp
/tools/slide/yjslide/examples/haddock/hello/html/
/tools/slide/yjslide/examples/haddock/hello2/html/
/tools/slide/yjslide/examples/haddock/queue/html/
/tools/slide/yjslide/test.txt
/tools/slide/yjslide/tests/
/tools/slide/yjslide/tmp.txt
/tools/slide/yjslide/bad.txt
/tools/slide/yjslide/empty.txt

/tools/slide/yjslide3/examples/montecarlo/getPi
/tools/slide/yjslide3/examples/othello/ball
/tools/slide/yjslide3/examples/othello2/othello
/tools/slide/yjslide3/examples/othello3/othello
/tools/slide/yjslide3/examples/othelloS/othello
/tools/slide/yjslide3/examples/wxhaskell/ball
/tools/slide/yjslide3/examples/wxhaskell/hello
/tools/slide/yjslide3/svgs/
/tools/slide/yjslide3/images/*.svg

/tools/slide/shinjuku.hs/sample.svg

/tools/markdown/svgs/

/themes/books/land_of_lisp/city
/themes/books/land_of_lisp/known-city
/themes/books/land_of_lisp/*.png
/themes/books/land_of_lisp/evolution

/packages/JuicyPixels/*.jpg
/packages/JuicyPixels/*.ico

/tools/building/plan/*.svg

/tools/fabicon/balls
/tools/fabicon/testWx

/packages/papillon/examples/src

/themes/lecture/images/*.svg
/themes/lecture/13_montecarlo/*.svg
/themes/lecture/14_leibniz/*.svg
/themes/lecture/15_binary_tree/*.svg

/features/existential_quantifications/namedCar.txt

/tribial/koch.svg

/tribial/sudoku/sudoku
/tribial/sudoku/books/sudoku1

/tribial/codeiq/secondequation/simple

/tribial/graph/sample.txt

/algorithms/pearls/minfree/simple
/algorithms/pearls/minfree/array
/algorithms/pearls/minfree/dc
/algorithms/weight_balanced_tree/nth
/algorithms/weight_balanced_tree/nth2
/algorithms/weight_balanced_tree/dups
/algorithms/fingertree/tree/nth
/algorithms/fingertree/tree/nth2

/features/ffi/sqlite3/c/sample
/features/ffi/sqlite3/c/*.sqlite3
/features/ffi/sqlite3/hello/hello
/features/ffi/sqlite3/hello/*.sqlite3

/features/ffi/sqlite3/skami2/*.sqlite3
/features/ffi/sqlite3/skami2/mkTable
/features/ffi/sqlite3/skami2/testAccount
/features/ffi/sqlite3/skami2/testHash

/features/ffi/array/useProcArray
/features/ffi/array/use_proc_array

/features/ffi/hello_hc/useAdd3

/tools/image/cartesian.svg
/tools/image/polar.svg
/tools/image/tree/tree_int.svg
/tools/image/tree/rotateL_1.svg
/tools/image/tree/rotateL_2.svg
/tools/image/tree/bbtree.svg
/tools/image/tree/tree_abcde.svg
/tools/image/tree/bst_15.svg
/tools/image/tree/bst_wikipedia.svg
/tools/image/bbt/addToNull.svg
/tools/image/bbt/addToBottom1.svg
/tools/image/bbt/addToBottom2.svg
/tools/image/bbt/addToBottom3.svg
/tools/image/bbt/flattenBottom1.svg
/tools/image/bbt/flattenBottom2.svg
/tools/image/bbt/flattenBottom3.svg
/tools/image/bbt/levelupBottom2.svg
/tools/image/bbt/levelupBottom3.svg
/tools/image/bbt/addToNode1.svg
/tools/image/bbt/addToNode2.svg
/tools/image/bbt/addToNode3.svg
/tools/image/bbt/flattenNode1.svg
/tools/image/bbt/flattenNode2.svg
/tools/image/bbt/flattenNode3.svg
/tools/image/bbt/levelupNode2.svg
/tools/image/bbt/levelupNode3.svg
/tools/image/bbt/fromNeighbor0.svg
/tools/image/bbt/fromNeighbor1.svg
/tools/image/bbt/fromNeighbor2.svg
/tools/image/bbt/fromUpper0.svg
/tools/image/bbt/fromUpper1.svg
/tools/image/bbt/fromUpper2.svg
/tools/image/bbt/fromLeaf0.svg
/tools/image/bbt/fromLeaf1.svg
/tools/image/bbt/fromLeaf2.svg
/tools/image/bbt/fromLeaf3.svg
/tools/image/bbt/fromLeaf4.svg
/tools/image/bbt/var22.svg
/tools/image/bbt/var23.svg
/tools/image/bbt/var32.svg
/tools/image/bbt/var33.svg
/tools/image/bbt/varChanged.svg

/tools/make_license/result_1.txt

/features/ffi/exception/c/script
/features/ffi/exception/hello/Constants.hs
/features/ffi/exception/hello/Constants_out.hs

/features/ffi/hello_hc/add3_hs
/features/ffi/hello_hc/useAdd3_c
/features/ffi/hello_ch/so_mul8

/features/ffi/wrapper/c/wikipedia
/features/ffi/wrapper/c/wikipedia_caller
/features/ffi/wrapper/c/max
/features/ffi/wrapper/c/calc
/features/ffi/wrapper/c/calc2
/features/ffi/wrapper/c/foldl
/features/ffi/wrapper/c/use_foldl

/features/ffi/sqlite3/c/tutorial/insert
/features/ffi/sqlite3/c/tutorial/named
/features/ffi/sqlite3/c/tutorial/version
/features/ffi/sqlite3/c/tutorial/version2
/features/ffi/sqlite3/c/open_close/open_close
/features/ffi/sqlite3/c/use_exec/hello_c
/features/ffi/sqlite3/c/use_step/create_table
/features/ffi/sqlite3/c/use_step/insert
/features/ffi/sqlite3/c/use_step/select
/features/ffi/sqlite3/haskell/SQLite3/Constants.hs
/features/ffi/sqlite3/simplest-sqlite/check/constants

/features/ffi/hsc2hs/basic.hs
/features/ffi/hsc2hs/conststr.hs
/features/ffi/hsc2hs/empty.hs
/features/ffi/hsc2hs/sharp.hs

/themes/languages/make_scheme/haskell_codes/fib_fast

/tribial/lecture/as/test
/tribial/lecture/c/test

/tribial/lecture/lifegame/lifegame

.html/

*.dyn_hi
*.dyn_o
tmp.txt

.txt/
