/lojban/thsrs/Triv.hs
/lojban/xiragan/Some.hs
/template_haskell/bitmap/out.bmp
dist/
/tools/slide/yjslide/*.svg
/tools/slide/yjslide/svgs/
tmp/
*.prof
*.png
/tools/slide/yjslide/examples/unboxed/unboxed
/tools/slide/yjslide/examples/unboxed/small
*.hi
*.s
*.o
/tools/rirekisho/rirekisho.dat
/tools/slide/yjslide/examples/profiling/old/some
*.aux
*.hp
*.pdf
*.ps
.*.swp
/tools/slide/yjslide/examples/haddock/hello/html/
/tools/slide/yjslide/examples/haddock/hello2/html/
/tools/slide/yjslide/examples/haddock/queue/html/
