/lojban/thsrs/Triv.hs
/lojban/xiragan/Some.hs
/template_haskell/bitmap/out.bmp
dist/
/tools/slide/yjslide/*.svg
/tools/slide/yjslide/svgs/
tmp/
*.prof
*.png
/tools/slide/yjslide/examples/unboxed/unboxed
/tools/slide/yjslide/examples/unboxed/small
*.hi
*.s
*.o
/tools/rirekisho/rirekisho.dat
/tools/slide/yjslide/examples/profiling/old/some
/tools/slide/yjslide/examples/profiling/new/profiling
/tools/slide/yjslide/examples/profiling/new/prog
/tools/slide/yjslide/examples/profiling/new/fib2
/tools/slide/yjslide/examples/profiling/new/sum
/tools/slide/yjslide/examples/profiling/new/sum_strict
/tools/slide/yjslide/examples/profiling/new/notStrictData
/tools/slide/yjslide/examples/profiling/new/strictData
/tools/slide/yjslide/examples/profiling/new/concat
/tools/slide/yjslide/examples/profiling/new/listDict
/tools/slide/yjslide/examples/profiling/new/mapDict
/tools/slide/yjslide/examples/profiling/new/hashDict
/tools/slide/yjslide/examples/profiling/new/mapDict2
/tools/slide/yjslide/examples/profiling/new/hashDict2
/tools/slide/yjslide/examples/profiling/new/useString
/tools/slide/yjslide/examples/profiling/new/useString2
/tools/slide/yjslide/examples/profiling/new/useByteString
/tools/slide/yjslide/examples/profiling/new/useByteStringLazy
/tools/slide/yjslide/examples/profiling/new/lookOnce
/tools/slide/yjslide/examples/profiling/new/lookTwice
/tools/slide/yjslide/examples/profiling/new/randomAccess
/tools/slide/yjslide/examples/profiling/new/sequentialAccess
/tools/slide/yjslide/examples/profiling/new/randomAccessS
/tools/slide/yjslide/examples/profiling/new/randomAccessB
/tools/slide/yjslide/examples/profiling/new/randomAccessB2
/tools/slide/yjslide/examples/profiling/new/randomAccessB3
/tools/slide/yjslide/examples/profiling/new/randomAccessL
/tools/slide/yjslide/examples/profiling/new/randomAccessL2
/tools/slide/yjslide/examples/profiling/new/randomAccessList
/tools/slide/yjslide/examples/profiling/new/randomAccessArray
/tools/slide/yjslide/examples/profiling/new/big.txt
/tools/slide/yjslide/examples/profiling/new/moreBig.txt
/tools/slide/yjslide/examples/profiling/new/moreBig2.txt
/tools/slide/yjslide/examples/profiling/new/ratio.txt
/tools/slide/yjslide/examples/profiling/new/show_page.txt
/tools/slide/yjslide/examples/profiling/new/show_turtle.txt
/tools/slide/yjslide/examples/profiling/primes/eratosthenes
/tools/slide/yjslide/examples/profiling/primes/eratosthenesU
/tools/slide/yjslide/examples/profiling/primes/pseudoEratosthenes
*.aux
*.hp
*.pdf
*.ps
.*.swp
/tools/slide/yjslide/examples/haddock/hello/html/
/tools/slide/yjslide/examples/haddock/hello2/html/
/tools/slide/yjslide/examples/haddock/queue/html/
/tools/slide/yjslide/test.txt
/tools/slide/yjslide/tmp.txt
/tools/slide/yjslide/bad.txt
/tools/slide/yjslide/empty.txt
