.stack-work/
*~
/simple.png
/try-svg.svg
/try-cairo-set-source.png
/try-cairo-set-source-surface.png
/try-cairo-stroke.png
/try-cairo-stroke-preserve.png
/try-cairo-mask.png
/try-cairo-mask-surface.png
/try-cairo-save-restore.png
/try-cairo-clip.png
/try-cairo-fill-rule.png
/try-cairo-line-cap.png
/try-cairo-line-join.png
/try-cairo-miter-limit.png
/try-cairo-operator.png
/try-cairo-new-path.png
/try-cairo-new-sub-path.png
/try-cairo-curve-to.png
/try-cairo-close-path.png
/try-cairo-arc.png
/try-cairo-path-extents.png
/try-cairo-relative.png
/try-cairo-pattern-create-rgb.png
/try-cairo-pattern-create-radial.png
/try-cairo-pattern-create-surface.png
/try-cairo-pattern-set-matrix.png
