body {
}

button {
	font-size: 12px;
	padding: 4px 8px;
}

label {
	display: block;
}

#current-key {
	width: 100%;
}

#clients {
	max-height: 300px;
	overflow-y: auto;
}

.edit-client-buttons {
	width: 100%;
	display: flex;
}

.right-buttons {
	margin-left: auto;
	display: flex;
	gap: 0.5em;
}

[hidden] {
	display: none !important;
}

#url-pattern-d {
	width: 100%;
	box-sizing: border-box;
}
