body {
}

button {
	font-size: 12px;
	padding: 4px 8px;
}

@media (max-width: 600px) {
	button {
		font-size: 32;
		padding: 6px 10px;
	}
}

label {
	display: block;
}

#current-key {
	width: 100%;
}

#clients {
	max-height: 300px;
	overflow-y: auto;
}
