html {
	height: 100%;
}

body {
	height: 100%;
	margin: 3%;
}

#field {
	width: 90%;
	height: 100%;
}

#lambda-area {
	width: 100%;
	height: 30%;
}

#ski-area {
	width: 100%;
	height: 30%;
}

button {
	display: block;
	margin: 5px;
	margin-left: auto;
	margin-right: 0px;
	justify-context: flex-end;
}
