.stack-work/
*~
HaskellLogoRotated.png
HaskellLogoNoAlphaRotated.png
HaskellLogoNoAlphaRotated16_565.png
HaskellLogoNoAlphaRotated30.png
HaskellLogoRotatedA8.png
HaskellLogoRotatedA8RGBA.png
HaskellLogoRotatedA1.png
HaskellLogoRotatedA1RGBA.png
testArgb32Mut.png
testA8.png
testA8Mut.png
testA8hs.png
testA8hsRGBA.png
testA1.png
testA1Mut.png
testA1hs.png
testA1hsRGBA.png
*.png
