.stack-work/
*~
HaskellLogoRotated.png
HaskellLogoNoAlphaRotated.png
HaskellLogoNoAlphaRotated16_565.png
HaskellLogoNoAlphaRotated30.png
HaskellLogoRotatedA8.png
HaskellLogoRotatedA1.png
testA8.png
testA8Mut.png
testA8hs.png
testA1.png
testA1Mut.png
testA1hs.png
