.stack-work/
*~
/try-pango-exe.png
/try-pango-simple.png
/try-pango-fonts.png
/try-pango-fonts-unset.png
/try-pango-fonts-variations.png
/try-pango-fonts-literata.png
/try-pango-fonts-soulcraft.png
/try-pango-fonts-montserrat.png
/try-pango-fonts-source-han-sans.png
/try-pango-markup.png
/try-pango-attrs-markup.png
/try-pango-attrs-markup-stream.png
/try-pango-attrs.png
/try-pango-gravity.png
/try-pango-layout-innocuous.png
/try-pango-tab-array.png
/try-pango-context.png
/try-shape.png
/simple.png

/pngs/*.png
